<div class="panel panel-primary">
  <div class="panel-heading" >Users</div>
  <div class="panel-body">
  <!-- Search functionality here -->
  </div>
  <div class="fill" >
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag(user.avatar.thumb.url, size: "40x40", class: "user-img-index")%><%= link_to "#{user.name}", user %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    <div class="panel-footer">
      <%= "Page #{@users.current_page} of #{@users.total_pages}" %><br>
      <%= will_paginate %>
    </div>
  </div>
</div>
