<div class="row profile-head">
	<div class="col-md-10 col-md-offset-2 user-info">
		<%= image_tag(@user.avatar.url(:medium), width:"200", height: "200", class:"user-pic") %>
  	<div class="user-details">
      <div class="user-name"><%= @user.name %></div>
      <span class="bio">
      </span>
   	</div>
	</div>
</div>


<% unless current_user == @user %>
	<%= link_to "Add Friend", friendships_path(:friend_id => @user.id), :method => :post %>
<% end %>

<div class="row">
	<div class="col-md-2 col-md-offset-2 friends-col">
		<div class="friend-header">Friends (<%= @user.mutual_friends.count %>)</div>
    <div class="friends">
    <% @user.mutual_friends.first(5).each do |friend| %>
      <div class="friend">
        <%= image_tag(friend.avatar.url(:thumb), width: "50", height: "50", class: "friend-pic") %>
        <%= link_to friend do %>
        <div class="friend-name"><%= friend.name %></div>
	      </div>
	      <% end %>
      <% end %>
      <% if @user.mutual_friends.count > 5 %>
	      <a href="#">View More</a>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
		<div class="user-feed">
			<% if current_user == @user %>
				<%= render 'posts/form' %>
			<% end %>
			<% @user.authored_posts.each do |post| %>
				<%= render 'posts/post', :post => post %>
			<% end %>
		</div>
	</div>
</div>
