User Profile: <%= @user.name %>

<% unless current_user == @user %>
	<%= link_to "Add Friend", friendships_path(:friend_id => @user.id), :method => :post %>
<% end %>

<% if current_user == @user %>
	<%= render 'posts/form' %>
<% end %>

<ul>
	<% @user.authored_posts.each do |post| %>
		<%= render 'posts/post', :post => post %>
	<% end %>
</ul>

<h4>Friends</h4>
<ul>
	<% @user.mutual_friends.each do |friend| %>
		<li>
				<%= friend.name %>, <%= friend.email %> 
				<% if current_user == @user %>
					| <%= link_to "Unfriend", friendship_path(:id => @user.friendship(friend)), :method => :delete, 
								data: { confirm: "You sure?" } %>
				<% end %>
		</li>
	<% end %>
</ul>