<div class="row profile-head">
	<div class="col-md-10 col-md-offset-2 user-info">
		<%= image_tag(@user.avatar.url(:medium), width:"200", height: "200", class:"user-pic") %>
  	<div class="user-details">
      <div class="user-name"><%= @user.name %></div>
      <span class="bio">
      </span>
   	</div>
	</div>
</div>

<%= add_friend_link(@user) %>

<div class="row">
	<div class="col-md-2 col-md-offset-2 friends-col">
		<div class="friend-header">Friends (<%= @user.mutual_friends.count %>)</div>
    <div class="friends">
    	<%= friends_list(@user) %>
      <% if @user.mutual_friends.count > 5 %>
	      <a href="#">View More</a>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
		<div class="user-feed">
			<% if current_user == @user %>
				<%= render 'posts/form' %>
			<% end %>
			<div id="posts"%>
				<%= render @user.authored_posts.order('id DESC') %>
			</div>
		</div>
	</div>
</div>
