<div class="panel panel-default">
  <div class="panel-body create-post">
    <div class="post-header">
    <%= form_for Post.new, :url => {:controller => "posts", :action => "create"}, remote: true, multipart: true, authenticity_token: true, :html => {:class => 'form-horizontal', :id => 'post-form' } do |f| %>
    	<div class="post-status">
        <img src="http://i.imgur.com/FR9IOEw.png"> <!-- compose icon -->
        <span class="status-select">Status</span>
        <%= image_tag("add_photo_icon.png") %>
        <form id="post-form">
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', value: "Add Photo" %>
        <span class="file_name"></span>
        <%= f.hidden_field :picture_cache %>
      </div>
      <span class="triangle-select"></span>
    </div>
    
			<%= f.text_area :content, class: 'form-control post-input', :placeholder => "Write something..." %>
		<%= f.hidden_field :author_id, :value => current_user.id %>
    <div class="post-footer">
    <%= hidden_field_tag(:location, @location) %>
		<%= f.submit "Post", class: "btn btn-sm btn-primary post-submit" %>
		<% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#post_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>