<div class="panel panel-default">
  <div class="panel-body create-post">
    <div class="post-header">
    	<span class="post-status">
        <img src="http://i.imgur.com/FR9IOEw.png"> <!-- compose icon -->
        <span class="status-select">Status</span>
      </span>
      <span class="triangle-select"></span>
    </div>
    <%= form_for Post.new, :url => {:controller => "posts", :action => "create"}, remote: true, :html => {:class => 'form-horizontal', :id => 'post-form'} do |f| %>
			<%= f.text_area :content, class: 'form-control post-input', :placeholder => "Write something..." %>
		<%= f.hidden_field :author_id, :value => current_user.id %>
    
    <div class="post-footer">
    <%= hidden_field_tag(:location, @location) %>
		<%= f.submit "Post", class: "btn btn-sm btn-primary post-submit" %>
		<% end %>
    </div>
  </div>
</div>