<%= div_for post do |post| %>
	<%= render partial:"posts/post_header", locals: {post: post }%>
	<div class="panel panel-default comments">
	  <div class="panel-body">
	  	<%= view_more(post) %>
	  	<div class="comments-list">
				<%= comments_for(post) %>
			</div>
	    <%= render partial:"posts/comment_form", locals: { post: post } %>
	  </div>
	</div>
<% end %>