<div class="user-feed">
	<div class="panel panel-default extended" id="post-<%= post.id %>">
	  
	  <div class="panel-body head">
	    <img src="https://scontent.xx.fbcdn.net/hprofile-xfa1/v/t1.0-1/p50x50/1900129_10152208529803896_1607081356_n.jpg?oh=5440437a9cbaa76c1ded11c920c46b72&oe=56DE618C"
	    class="user-thumbnail">
	    <%= link_to post.author.name, post.author, :class => "author-link" %>
	    
	    <div class="time-posted"><%= time_ago_in_words(post.updated_at) %></div>
	  </div>
	  
	  <div class="panel-body content">
	  	<%= h(post.content).gsub(/\n/, '<br/>').html_safe %>
	  </div>
	  <div class="post-info">
	    <div class="like-count"><%= pluralize(post.likes.count, 'Like') %></div>
	    <div class="comment-count"><%= pluralize(post.comments.count, 'Comment') %></div>
	  </div>
	  <hr>
    <div class="post-commands">
    	<% if current_user.like?(post) %>
    		<%= link_to like_path(:id => post, :location => @location), :method => :delete do %>
    			<span class="glyphicon glyphicon-thumbs-up like liked"></span>
   				<div class="command-text like-text liked">Like</div>
    		<% end %>
    	<% else %>
    		<%= link_to likes_path(:post => post, :location => @location), :method => :post do %>
    			<span class="glyphicon glyphicon-thumbs-up like"></span>
   				<div class="command-text like-text">Like</div>
    		<% end %>
    	<% end %>
				
    	<a href="#">
      	<span class="glyphicon glyphicon-comment comment"></span>
      	<div class="command-text comment-text">Comment</div>
    	</a>
  	</div>
	</div>
	<div class="panel panel-default comments">
  <div class="panel-body">
		<% if params[:post] == "#{post.id}" && params[:view_more] == "true" %>
			<% post.comments.each do |comment| %>
		  	<div class="panel-body comment-block">
		  		<%= link_to comment.author do %>
		    	<img src="https://scontent.xx.fbcdn.net/hprofile-xpt1/v/t1.0-1/p32x32/12226925_10206327926496016_8709785040033328531_n.jpg?oh=20309cc5685a589eb140eb30f049315a&amp;oe=56E74F03" class="author-pic">
		    	<% end %>
		      <div class="comment-body">
		      	<span class="comment-author">
		      		<%= link_to comment.author.name, comment.author %>
		      	</span>
		        <span class="comment-comment-text">
		        	<%= h(comment.content).gsub(/\n/, '<br/>').html_safe %>
		        </span>
		        <div class="comment-actions">
		          <span class="like-reply">
								<a href="#">Like</a> 路 
								<a href="#">Reply</a> 路
							</span>
							<span class="comment-time">
								<a href="#"><%= time_ago_in_words(comment.updated_at) %></a>
							</span>
						</div>
		      </div>
		    </div>
    	<% end %>
		<% elsif post.comments.any? %>
			<%= link_to url_for(:post => post, :view_more => true), :method => :get do %>
				<div class="view-more">View more comments </div>
			<% end %>
			<% post.comments.last(2).each do |comment| %>
		  	<div class="panel-body comment-block">
		  		<%= link_to comment.author do %>
		    	<img src="https://scontent.xx.fbcdn.net/hprofile-xpt1/v/t1.0-1/p32x32/12226925_10206327926496016_8709785040033328531_n.jpg?oh=20309cc5685a589eb140eb30f049315a&amp;oe=56E74F03" class="author-pic">
		    	<% end %>
		      <div class="comment-body">
		      	<span class="comment-author">
		      		<%= link_to comment.author.name, comment.author %>
		      	</span>
		        <span class="comment-comment-text">
		        	<%= h(comment.content).gsub(/\n/, '<br/>').html_safe %>
		        </span>
		        <div class="comment-actions">
		          <span class="like-reply">
								<a href="#">Like</a> 路 
								<a href="#">Reply</a> 路
							</span>
							<span class="comment-time">
								<a href="#"><%= time_ago_in_words(comment.updated_at) %></a>
							</span>
						</div>
		      </div>
		    </div>
    	<% end %>
		<% end %>
			
		
  	
    <div class="comment-box">
      
      <div class="comment-form">
     <%= form_for @comment, :url => {:controller => "comments", :action => "create"}, :html => {:class => 'form-inline'} do |f| %>
      	<div class="form-group">
      	<img src="https://scontent.xx.fbcdn.net/hprofile-xpf1/v/t1.0-1/p32x32/12376241_10154362743542542_3564387794843871358_n.jpg?oh=0346bb95042e6ad06aba1763ba7eb1fc&amp;oe=571D3F20">
      		<%= f.text_area(:content, class: 'form-control comment-input', cols: 50, rows: 1, placeholder: 'Write something...') %>
      		<%= f.hidden_field :post_id, :value => post.id %>
      		<%= f.hidden_field :author_id, :value => current_user.id %>
      		<%= hidden_field_tag(:location, @location) %>
      		<%= f.submit "Post", class: "btn btn-primary comment-submit" %>
      	</div>
      <% end %>
       
      </div>
    </div>
  </div>
</div>
  
</div>
