	<div class="panel panel-default extended" id="post-<%= post.id %>">
	  
	  <div class="panel-body head">
	    <%= image_tag(post.author.avatar.thumb.url, size: "40x40")%>

	    <%= link_to post.author.name, post.author, :class => "author-link" %>
	    <div class="post-admin">
	     	<%= post_admin_commands(post) %>
   	  </div>
	    <div class="time-posted"><%= time_ago_in_words(post.updated_at) %></div>
	  </div>
	  
	  <div class="panel-body content">
	  	<%= h(post.content).gsub(/\n/, '<br/>').html_safe %>
	  	<%= image_tag post.picture.url if post.picture? %>
	  </div>
	  <div class="post-info">
	    <div class="like-count" data-id="<%= post.id %>"><%= pluralize(post.likes.count, 'Like') %></div>
	    <div class="comment-count" data-id="<%= post.id%>"><%= pluralize(post.comments.count, 'Comment') %></div>
	  </div>
	  <hr>
    <div class="post-commands">
    	<%= post_like_commands(current_user, post) %>
    	<a href="#post_<%= post.id %>">
      	<span class="glyphicon glyphicon-comment comment-action"></span>
      	<div class="command-text comment-text">Comment</div>
    	</a>
  	</div>
	</div>